<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/grig/IdeaProjects/program testing/qatestlab_automation-lecture-4-9a80a7ad7cd0 Ц коп≥€ 10 Ц коп≥€ 1/src/test/java/myprojects/automation/assignment4"><classes><class name="myprojects.automation.assignment4.tests.CreateProductTest"><methods><include name="createNewProduct"/></methods></class><class name="myprojects.automation.assignment4.tests.LoginTest"><methods><include name="userLogin"/></methods></class></classes></test></suite>